.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  h1 {
    font-size: 24px;
    margin: 0 20px;
    color: #3498db;
  }

  .rightSection {
    display: flex;
    align-items: center;
  }

  span {
    &:nth-child(2), &:nth-child(3) {
      font-size: 27px;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }
  }

  button {
    margin: 0 20px;
  }

  @media (max-width: 550px) {
    .horizontalMenu {
      display: none;
    }
    .logoutBtn {
      display: none;
    }
  }

  @media (min-width: 550px) {
    .leftSideNavBtn {
      display: none;
    }
  }
}